<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
</head>
<body>

    <h1>Welcome</h1>
    <div style="align-content: center">
        <h2>Products</h2>
        {% for item in template_test %}
            <li><h3>item name : {{ item["title"] }}  </h3></li>
            <li><h3>item price: {{ item["price"] }}</h3></li>
            <li><h3>item description: {{ item["description"] }} </h3></li>
            <li><h3>item quantity: {{ item["quantity"] }}</h3></li>
        {% endfor %}

        <a href="{{ url_for( 'add_item_api' ) }}">add item </a>

    </div>




</body>
</html>